{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block head_style %}
   {% stylesheets filter='lessphp,css_url_rewrite'
   	'@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
	%}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endblock head_style %}

{% block navbar %}{% endblock navbar %}

{% block content %}
	
	{% for key, message in app.session.flashbag.all() %}
	<div class="alert alert-{{ key }}">
		{{ message|trans({}, 'FOSUserBundle') }}
	{% endfor %}
	
	{% block fos_user_content %}
	{% endblock %}
{% endblock %}

{% block footer %}
{% endblock footer %}

{% block foot_script %}    
   {# To only use a subset or add more js overwrite and copy paste this block
    To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
    Otherwise the regeneration is done on every load in dev more with use_controller: true
     #}
    {% javascripts
        'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
        '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
        '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}