<div class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" class="btn" id="action_dropdown_add_asset_project">
    <i class="icon-plus"></i>Add an Asset
</a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="action_dropdown_add_asset_project">

        <li role="presentation">
            <a role="menuitem" href="{{ path('publicis_admin_git_create', {'project_id' : object.id}) }}" title="{{ 'action_add_git_asset'|trans() }}">
                {{ 'action_add_git_asset'|trans() }}
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" href="{{ path('publicis_admin_svn_create', {'project_id' : object.id}) }}" title="{{  'action_add_svn_asset'|trans() }}">
                {{ 'action_add_svn_asset'|trans() }}
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" href="{{ path('publicis_admin_file_create', {'project_id' : object.id}) }}" title="{{  'action_add_file_asset'|trans() }}">
                {{ 'action_add_file_asset'|trans() }}
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" href="{{ path('publicis_admin_url_create', {'project_id' : object.id}) }}" title="{{  'action_add_url_asset'|trans() }}">
                {{ 'action_add_url_asset'|trans() }}
            </a>
        </li>

    </ul>
</div>