{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block content %}
    {% set url = 'create' %}

    {% if not admin.hasRoute(url)%}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <form class="form-horizontal" action="{{ path('publicis_admin_asset_create') }}" {{ form_enctype(form) }} method="POST">
            {% if form.vars.errors|length > 0 %}
                <div class="sonata-ba-form-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            {% block sonata_pre_fieldsets %}
            {% endblock %}

            {% block sonata_post_fieldsets %}
            {% endblock %}

            {{ form_rest(form) }}

            {% block formactions %}
                <div class="well form-actions">
                    <input type="submit" class="btn" name="btn_create" value="{{ 'btn_create'|trans({}, 'SonataAdminBundle') }}"/>
                </div>
            {% endblock formactions %}
        </form>
    {% endif%}

{% endblock %}
