{# hlemascon #}

{% extends 'SonataAdminBundle:CRUD:show.html.twig' %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% if admin.hasRoute('edit') and admin.isGranted('EDIT', object)%}
            <a class="btn sonata-action-element" href="{{ admin.generateObjectUrl('edit', object) }}">
                <i class="icon-edit"></i>
                {{ 'link_action_edit'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% if admin.hasroute('history') and admin.id(object) and admin.isGranted('EDIT', object) %}
            <a class="btn sonata-action-element" href="{{ admin.generateObjectUrl('history', object) }}">
                <i class="icon-book"></i>
                {{ 'link_action_history'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
        {% if admin.hasroute('list') and admin.isGranted('LIST')%}
            <a class="btn sonata-action-element" href="{{ admin.generateUrl('list') }}">
                <i class="icon-list"></i>
                {{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a>
        {% endif %}
        {# include 'PublicisEntityBundle:Admin:action_addasset.html.twig' with {'object' : object} #}

        <div class="dropdown btn sonata-action-element">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" class="btn sonata-action-element" id="action_dropdown_add_asset_project">
                <i class="icon-plus"></i>Add an Asset
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="action_dropdown_add_asset_project">

                <li role="presentation">
                    <a role="menuitem" href="{{ path('publicis_admin_git_create', {'project_id' : object.id}) }}" title="{{ 'action_add_git_asset'|trans() }}">
                        {{ 'action_add_git_asset'|trans() }}
                    </a>
                </li>
                <li role="presentation">
                    <a role="menuitem" href="{{ path('publicis_admin_svn_create', {'project_id' : object.id}) }}" title="{{  'action_add_svn_asset'|trans() }}">
                        {{ 'action_add_svn_asset'|trans() }}
                    </a>
                </li>
                <li role="presentation">
                    <a role="menuitem" href="{{ path('publicis_admin_file_create', {'project_id' : object.id}) }}" title="{{  'action_add_file_asset'|trans() }}">
                        {{ 'action_add_file_asset'|trans() }}
                    </a>
                </li>
                <li role="presentation">
                    <a role="menuitem" href="{{ path('publicis_admin_url_create', {'project_id' : object.id}) }}" title="{{  'action_add_url_asset'|trans() }}">
                        {{ 'action_add_url_asset'|trans() }}
                    </a>
                </li>

            </ul>
        </div>

    </div>
{% endblock %}