
{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    <ul>
    {% for key, val in value %}
        {% set type_val = val | get_class %}
        {% if type_val is sameas('Publicis\\EntityBundle\\Entity\\GitRepoAsset') %}
            {% set val_path = 'publicis_admin_git_show' %}
        {% elseif type_val is sameas('Publicis\\EntityBundle\\Entity\\SvnRepoAsset') %}
            {% set val_path = 'publicis_admin_svn_show' %}
        {% elseif type_val is sameas('Publicis\\EntityBundle\\Entity\\PreviewUrlAsset') %}
            {% set val_path = 'publicis_admin_url_show' %}
         {% else %}
            {% set val_path = 'publicis_admin_file_show' %}
        {% endif %}
        <li><a href="{{ path(val_path, {'id': val.id}) }}">{{ val.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
