{% extends '::frontend.html.twig' %}

{% block title %}Projects{% endblock title %}

{% block headline %}Projects{% endblock headline %}

{% block content %}

    <table class="records_list table table-bordered table-striped">
        <thead>
            <tr>
                <th {% if pagination.isSorted('p.Title') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'p.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Client', 'c.username') }}</th>
                <th>Slug</th>
                <th>Internal title</th>
                <th>Job reference</th>
                <th>Comment</th>
                <th>Is active</th>
                <th {% if pagination.isSorted('p.Created') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Created', 'p.created') }}</th>
                <th {% if pagination.isSorted('p.Updated') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Updated', 'p.updated') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><a href="{{ path('front_project_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{% if entity.client %}{{ entity.client.username }}{% endif %}</td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.internaltitle }}</td>
                <td>{{ entity.jobreference }}</td>
                <td>{{ entity.comment }}</td>
                <td><i class="icon-{{ entity.isactive ? 'ok' : 'remove' }}" ></i></td>
                <td>{% if entity.created %}{{ entity.created|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>
                <ul class="inline">
                    <li>
                        <a href="{{ path('front_project_show', { 'id': entity.id }) }}" title="Show"><i class="icon-eye-open"></i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>

{% endblock %}
