{% extends '::frontend.html.twig' %}

{% block title %}Project "{{entity.title}}"{% endblock title %}

{% block headline %}Project "{{entity.title}}"{% endblock headline %}

{% block content %}

<ul class="record_actions inline">
    <li>
        <a href="{{ path('front_project') }}" class="btn" title="Back to the list">
            <i class="icon-arrow-left"></i> Back to the list
        </a>
    </li>
	
</ul>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{% if entity.client %}{{ entity.client.username }}{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Internal title</th>
                <td>{{ entity.internaltitle }}</td>
            </tr>
            <tr>
                <th>Job reference</th>
                <td>{{ entity.jobreference }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ entity.comment|raw('html') }}</td>
            </tr>
            <tr>
                <th>Is active?</th>
                <td><i class="icon-{{ entity.isactive ? 'ok' : 'remove' }}" ></i></td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('d-m-Y H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('d-m-Y H:i:s') }}</td>
            </tr>
            <tr>
                <th>Assets</th>
                <td>
					<ul >
						{% for asset in entity.assets %}
							<li>
								<a href="{{ path('front_asset_show', {'id': asset.id} ) }}">{{asset.title}}</a>
							</li>
						{% endfor %}
					</ul>
				</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
