{% extends "::frontend.html.twig" %}

{% block title %}{{'Login'|trans({}, 'FOSUserBundle') }}{% endblock title %}

{% block headline %}Test sonata <small>{{'Login'|trans({}, 'FOSUserBundle') }}</small>{% endblock headline %}

{% block navbar %}{% endblock navbar %}

{% block fos_user_content %}

{% if error %}
	<div class="row-fluid">
		<div class="span3">
        	<div class="alert alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
        </div>
	</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" id="login" class="form-horizontal">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	<div class="control-group">
		<label class="control-label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
		<div class="controls">
			<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
		<div class="controls">
			<input type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" />
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
				{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
			</label>

			<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary" />
		</div>
	</div>
</form>

{% endblock fos_user_content %}

{% block footer %}{% endblock footer %}