            <tr>
                <th>Filename</th>
                <td>{{ entity.filename }}</td>
            </tr>
            <tr>
                <th>Caption</th>
                <td>{{ entity.caption }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ entity.size }}</td>
            </tr>
            <tr>
                <th>Mime_type</th>
                <td>{{ entity.mimetype }}</td>
            </tr>
            <tr>
                <th>View</th>
                <td>
					{% if entity.mimetype|slice(0, 6) is sameas("image/") %}
						<img src="{{ asset('uploads/staticfiles/' ~ entity.filename) }}" {% if sizes %}width="{{sizes[0]}}" height="{{sizes[1]}}" {% endif %}/>
					{% else %}
						<object>
							<embed src="{{ asset('uploads/staticfiles/' ~ entity.filename) }}" {% if sizes %}width="{{sizes[0]}}" height="{{sizes[1]}}" {% endif %} loop="true">
							</embed>
						</object>
					{% endif %}
				</td>
            </tr>
