            <tr>
                <th>Ssh url</th>
                <td>{{ entity.sshurl }}</td>
            </tr>
            <tr>
                <th>Https url</th>
                <td>{{ entity.httpsurl }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
