{% extends '::frontend.html.twig' %}

{% block title %}Assets{% endblock title %}

{% block headline %}Assets{% endblock headline %}

{% block content %}

    <table class="records_list table table-bordered table-striped">
        <thead>
            <tr>
                <th {% if pagination.isSorted('a.Title') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
                <th>Slug</th>
				<th>Type</th>
                <th>Comment</th>
                <th>Is active?</th>
                <th {% if pagination.isSorted('a.Created') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Created', 'a.created') }}</th>
                <th {% if pagination.isSorted('a.Updated') %}class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Updated', 'a.updated') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
				{% set type_entity = entity.nameTemplateForm %}
                <td><a href="{{ path('front_asset_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.slug }}</td>
				<td>{{ type_entity == 'Git' ? "Git Repository" :
					type_entity == 'Svn' ? "Svn Repository":
					type_entity == 'File' ? "Static File" :
					type_entity == 'Url' ? "Preview URL" : ""
				}}</td>
                <td>{{ entity.comment }}</td>
                <td><i class="icon-{{ entity.isactive ? 'ok' : 'remove' }}" ></i></td>
                <td>{% if entity.created %}{{ entity.created|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>
                <ul class="inline">
                    <li>
                        <a href="{{ path('front_asset_show', { 'id': entity.id }) }}" title="Show"><i class="icon-eye-open"></i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>

{% endblock %}
