{% extends '::frontend.html.twig' %}

{% block title %}{{entity.nameTemplateForm}} Asset "{{entity.title}}"{% endblock title %}

{% block headline %}{{entity.nameTemplateForm}} Asset "{{entity.title}}"{% endblock headline %}

{% block content %}

<ul class="record_actions inline">
    <li>
        <a class="btn" href="{{ path('front_asset') }}">
            <i class="icon-arrow-left"></i> Back to the list
        </a>
    </li>
</ul>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ entity.comment|raw('html') }}</td>
            </tr>
            <tr>
                <th>Is active?</th>
                <td><i class="icon-{{ entity.isactive ? 'ok' : 'remove' }}" ></i></td>
            </tr>
            <tr>
                <th>Project</th>
                <td>{% if entity.project %}<a href="{{ path('front_project_show', {'id': entity.project.id}) }}">{{ entity.project.title }}</a>{%endif%}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('d-m-Y H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('d-m-Y H:i:s') }}</td>
            </tr>
            <tr>
                <th>Asset type</th>
				<td>{{ entity.nameTemplateForm }}</td>
			</tr>
			
			{{ include('PublicisFrontProjectBundle:Asset:' ~ entity.nameTemplateForm ~ 'Show.html.twig', {'entity': entity}) }}
			
        </tbody>
    </table>
{% endblock %}
