            <tr>
                <th>Https url</th>
                <td><a href="{{entity.httpsurl}}" target="_blank">{{ entity.httpsurl }}</a></td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>