            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>View</th>
                <td>
					<iframe src="{{entity.url}}" height="600" width="900"></iframe>
				</td>
            </tr>
